/* ===Footer=== */

#foot {
  background: #db383c;
  font-family: "Roboto", sans-serif;
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vh 1.5vw;
}

.footlogo img {
  height: auto;
  width: 20vw;
}

.footinfo {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.uselinks {
  display: flex;
  flex-direction: column;
}

.uselinks * {
  margin: 1vh;
}

.cinfo * {
  margin: 1vh;
}

.cinfo span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.uselinks a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
  font-family: "Source Code Pro", monospace;
}

footer h4 {
  color: #ffffff;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
}

.cinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinfo .thatinfo {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 1.1vw;
  line-height: 4vh;
}

@media only screen and (max-width: 600px) {
  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 1.5vw;
  }

  .footinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
  }

  .footinfo > * {
    margin: 2vh;
  }

  .footlogo img {
    height: auto;
    width: 60vw;
  }

  footer > * {
    margin: 2vh;
  }

  footer h4 {
    font-size: 6vw;
  }

  .uselinks a {
    font-size: 4vw;
  }

  .cinfo .thatinfo {
    font-size: 4vw;
    line-height: 6vh;
  }

  .cinfo {
    align-items: flex-start;
  }

  .cinfo span {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .uselinks a {
    font-size: 1.7vh;
  }
  footer h4 {
    font-size: 2vh;
  }

  .cinfo .thatinfo {
    font-size: 1.7vh;
    line-height: 4vh;
  }
}
